div.Account{
    margin-top: 80px;
    margin-left: 500px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}

div.Account p.Title{
    margin-left: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: underline;
}

div.Account p.text{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #464646;
}

div.Account input.input{
    margin-left: 20%;
    width: 58%;
    height: 7%;
    border: 1px solid #707070;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
}

div.Account button.create{
    width: 30%;
    line-height: 2;
    margin-top: 5%;
    margin-left: 35%;
    border: 1px solid #707070;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
}

div.Account button.create:hover{
    color: white;
    background-color: black;
}

div.Account p.connection{
    margin-left: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}