body{
    margin: 0;
}

div.NavBar{
    background: #303030;
    height: 70px;
    display: grid;
    grid-template-columns: 60px 1200px 60px 60px 60px;
}

div.NavBar a.marge{
    margin-left: 10px;
    margin-top: 40%;
    text-decoration: none;
    font-size: 0.5cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

div.NavBar a.marge:hover{
    color: #FF8D22;
}